#App-Container {
  background-color: #34568B;
  color:aliceblue;
  min-height: 100vh;
}

#Editor-Card {
  background-color: #1c2e4a;
  height: 85vh;
}

#editor {
  resize: none;
}

#Preview-Card {
  background-color: #22395d;
  height: 85vh;
}

.Preview-scroll {
  overflow: scroll;
}